<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE"  class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %date  %-5level [%thread] %logger{36}-L - %msg%n
            </pattern>
        </encoder>
    </appender>


    <logger name="org.tails.dsl" level="DEBUG"/>
    <logger name="com.github.isrsal.logging.LoggingFilter" level="DEBUG"/>
    <logger name="httpclient.wire" level="DEBUG"/>

    <logger name="org" level="WARN"/>
    <logger name="org.springframework.web.servlet.mvc" level="DEBUG" />
    <logger name="org.fasterxml.jackson" level="DEBUG" />
    <logger name="org.tails.bpm.test" level="DEBUG"/>

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
